<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="logback.properties" />
	<!-- appenders config -->
	<!-- Console appender -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- This is the kafkaAppender -->
	<appender name="KAFKA"
		class="com.github.danielwegener.logback.kafka.KafkaAppender">
		<producerConfig>bootstrap.servers=${kafka.server}</producerConfig>
		<topic>${kafka.topic}</topic>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>${log.ms.name}</customFields>
			<timestampPattern>dd-MM-yyyy'T'HH:mm:ss.SSS</timestampPattern>
			<fieldNames>
				<timestamp>createdAt</timestamp>
				<message>message</message>
				<logger>logger</logger>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
				<caller>[ignore]</caller>
				<stackTrace>[ignore]</stackTrace>
				<thread>[ignore]</thread>
				<mdc>context</mdc>
			</fieldNames>
		</encoder>
		<keyingStrategy
			class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
		<deliveryStrategy
			class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
	</appender>

	<!-- Async Apenders -->
	<appender name="ASYNC_CONSOLE"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<discardingThreshold>0</discardingThreshold> <!-- default 20, means drop lower event when has 20% capacity remaining -->
		<queueSize>10</queueSize> <!-- default 256 -->
		<maxFlushTime>0</maxFlushTime>
		<neverBlock>true</neverBlock><!-- default false, set to true to cause the 
			Appender not block the application and just drop the messages -->
	</appender>

	<appender name="ASYNC_KAFKA"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="KAFKA" />
		<discardingThreshold>0</discardingThreshold> <!-- default 20, means drop lower event when has 20% capacity remaining -->
		<queueSize>10</queueSize> <!-- default 256 -->
		<maxFlushTime>0</maxFlushTime>
		<neverBlock>true</neverBlock><!-- default false, set to true to cause the 
			Appender not block the application and just drop the messages -->
	</appender>

	<!-- logger config -->
	<root level="${log.level}">
		<appender-ref ref="ASYNC_CONSOLE" />
	</root>

</configuration>
